@import '~compass-mixins/lib/compass';
@import "../../styles/_colors.scss";

$baseClass: '.activate-dropdown';

#{$baseClass} {
  @include border-radius(5px);
  height: 34px;
  padding: 6px 12px 6px 8px;
  border: 1px solid $mercury;
  background: transparent;
  outline: none;
  color: $doveGray;
  font-size: 14px;
  line-height: 1.42857143;

  &--disabled {
    cursor: not-allowed;
  }
}