@import '~compass-mixins/lib/compass';
@import "../../styles/_colors.scss";

.tables-page {
  .table-name-cell {
    text-align: center;
    padding: 0 8px !important;
    line-height: 35px;
    
    .activate-button {
      width: 175px;
      padding: 5px 10px;
      font-size: 12px;
    }
  }
  
  .creation-date-cell, .row-count-cell {
    text-align: center;
    padding: 0 8px !important;
    font-size: 14px;
    line-height: 35px;
  }
}