@import '~compass-mixins/lib/compass';
@import "../../../styles/_colors.scss";

.role-table-modal {
  &_addTable {
    margin: 5px;
  }
  &_actionBtn {
    .activate-button {
      margin: 0 5px;
    }
  }
  &_no-table-left {
    display: block;
    margin: 10px;
  }
  .cancel-btn {
    float: left;
  }
  .activate-icon {
    margin-right: 10px;
  }
  .modal-footer {
    height: 30px;
  }
  .activate-loading {
    background: $white;
  }
  .activate-table {
    text-align: center;
    text-transform: capitalize;
    .activate-dropdown {
      width: 130px;
    }
    .activate-button {
      margin: 0 5px;
    }
  }
  .activate-dropdown {
    width: 175px;
  }
}