.dashboard-page {
    .persmap-icon {
        margin-right: 10px;
        margin-bottom: 15px
    }
    .persmap-panel_body {
      a {
        color: #6B6B6B;
        text-decoration: none;
      }
      a:hover {
        color: #6B6B6B;
        text-decoration: underline;
      }
    }
}

#chartjs-tooltip {
  line-height: normal;
  opacity: 1;
  padding: .3em;
  pointer-events: none;
  position: fixed;
  text-align: center;
  transform: translate(-50%, 0);
  transition: all .1s ease;
}
