.dashboard-page {
    .persmap-icon {
        margin-right: 10px;
        margin-bottom: 15px
    }
}

#chartjs-tooltip {
  line-height: normal;
  opacity: 1;
  padding: .3em;
  pointer-events: none;
  position: fixed;
  text-align: center;
  transform: translate(-50%, 0);
  transition: all .1s ease;
}
