@import '~compass-mixins/lib/compass';
@import "../../../styles/_colors.scss";

.add-role-modal {
  &_description {
    margin-top: 0;
  }
  &_label {
    width: 20%;
    display: inline-block;
  }
  
  .activate-label {
    display: block;
    margin-bottom: 20px;
  }
  
  .activate-input {
    width: 80%;
  }

  .activate-icon {
    margin-right: 10px;
  }
}