// colors used for button backgrounds, as named by http://chir.ag/projects/name-that-color
$white: #FFFFFF;
$red: #FF0000;
$jungleGreen: #209E91;
$pistachio: #90B900;
$scooter: #2DACD1;
$goldenGrass: #DFB81C;
$mandy: #E85656;
$doveGray: #6B6B6B;
$dustyGray: #969696;
$silver: #CBCBCB;
$mercury: #E7E7E7;
$emperor: #555555;
$alto: #DCDCDC;
$gallery: #EFEFEF;
$mirage: #1C2B36;
$porcelain: #F0F3F4;
