@import '~compass-mixins/lib/compass';
@import "../styles/_colors.scss";

body {
  background: $porcelain;
  margin: 0;
}
.main-content {
  margin-left: 225px;
  padding: 66px 0 34px;
  min-height: 500px;
}
.title {
  font-weight: 700;
  color: $doveGray;
  float: left;
  width: auto;
  font-size: 24px;
  opacity: .9;
  text-transform: uppercase;
}
