.add-user-modal {
  .activate-button {
    .activate-icon {
      margin-right: 10px;
    }
  }

  &_form-row {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    & > span {
      width: 100 / 6 * 1%;
      margin-right: 0;
    }

    & > .activate-input {
      width: 100% - (100 / 6)
    }
  }
}