@import '~compass-mixins/lib/compass';
@import "../../../../styles/_colors.scss";

.delete-role-modal {
  &_description {
    margin-top: 0;
  }
  &_label {
    width: 20%;
    display: inline-block;
  }
  
  .cancel-btn {
    float: left;
  }
  
  .activate-icon {
    margin-right: 10px;
  }
}