.search-page {
  &_form {
    text-align: center;

    &_input {
      width: 400px;
      margin-right: 10px;
    }

    &_button {
      .activate-icon {
        margin-right: 10px;
      }
    }
  }
}